* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --trans: all 0.35s ease-in-out;
  --color_dark: #08315c;
  --color_blue: #114b89;
  --color_yellow: #ffda03;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}

section {
  scroll-margin-top: 94px;
}

@media (max-width: 1050px) {
  .container {
    padding: 0 15px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

img {
  width: 100%;
  display: block;
}

header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(10px);
  z-index: 100;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 15px;
  position: relative;
}

.h__left {
  display: flex;
  align-items: center;
  z-index: 99999;
}

.nav__header {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.header__link {
  color: var(--color_dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: var(--trans);
  position: relative;
}
.header__link:hover {
  color: var(--color_yellow);
}

.header__link:not(.no_active)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background-color: var(--color_yellow);
  transition: width 0.35s;
}

.header__link:not(.no_active):hover:before {
  width: 100%;
}

.h__right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.h__right a {
  display: flex;
  align-items: center;
  z-index: 9999;
  position: relative;
}

.flag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: fit-content;
}
.flag img {
  width: 24px;
}

.tel {
  font-size: 18px;
}

.wup svg,
.inst svg {
  width: 30px;
  height: 30px;
  transition: var(--trans);
}
.wup svg:hover,
.inst svg:hover {
  fill: var(--color_yellow) !important;
}

.burger {
  display: none;
}

.burger__icon {
  width: 30px;
  height: 26px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 99999;
  position: relative;
}

.burger__icon div {
  width: 100%;
  height: 3px;
  background-color: #1c1c1c;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.burger__menu {
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 15px;
  padding-left: 40px;
  box-sizing: border-box;
  transition: right 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
  transition: var(--trans);
  max-height: 100%;
}
.burger__menu .btn {
  position: absolute;
  bottom: 15px;
  left: 15px;
  width: 95%;
}

.burger__menu.active {
  right: 40px;
  opacity: 1;
  visibility: visible;
}

.burger__menu .header__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  top: 94px;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: white;
  padding-left: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.burger__menu .header__item {
  width: 100%;
  text-align: start;
}

.burger__menu .header__link {
  color: var(--color_dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: var(--trans);
  position: relative;
  width: fit-content;
}
.burger__menu .header__link:hover {
  color: var(--color_yellow);
}

.header__dropdown_menu_burger .header__link {
  font-size: 24px;
}

.burger__icon.active .line1 {
  transform: rotate(-45deg) translate(-7px, 5px);
  background-color: #1c1c1c;
}

.burger__icon.active .line2 {
  opacity: 0;
}

.burger__icon.active .line3 {
  transform: rotate(45deg) translate(-11px, -9px);
  background-color: #1c1c1c;
}

.burger__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 90px !important;
}
.burger__list li a {
  color: #fff;
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.burger {
  display: none;
}

@media (max-width: 1200px) {
  .h__center {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger__menu.active {
    display: block;
  }
  .burger__icon {
    display: flex;
  }
  .h__right {
    display: flex;
  }
  header .tel {
    display: none;
  }
}
.sect1 {
  background-color: var(--color_dark);
  padding-top: 94px;
}

.hero_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid_main {
  display: grid;
  grid-template-columns: 250px 1fr 350px;
}
.grid_main .left {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 60px 40px 40px;
}
.grid_main .left h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
}
.grid_main .left h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
}
.grid_main .grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.grid_main .grid2 li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.grid_main .grid2 li img {
  width: 24px;
}
.grid_main .grid2 li p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  transition: var(--trans);
  cursor: default;
}
.grid_main .grid2 li p:hover {
  color: var(--color_yellow);
}
.grid_main .right {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-right: 25px;
  background-color: var(--color_blue);
  padding-bottom: 30px;
}
.grid_main .right img {
  width: 90px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}
.grid_main .right h3 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
}
.grid_main .right form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
.grid_main .right form button {
  width: 100%;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 5px;
}
.grid_main .right p {
  color: rgba(255, 255, 255, 0.5803921569);
  font-size: 14px;
  font-weight: 400;
}
.grid_main .right .input {
  display: flex;
  flex-direction: column;
}
.grid_main .right .input label {
  color: rgba(255, 255, 255, 0.7607843137);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.grid_main .right .input input,
.grid_main .right .input select {
  padding: 8px 10px;
  border-radius: 4px;
  border: 2px solid transparent;
  outline: none;
  color: var(--color_dark);
  font-size: 20px;
  font-weight: 400;
  transition: var(--trans);
  background-color: rgba(255, 255, 255, 0.862745098);
}
.grid_main .right .input input:focus,
.grid_main .right .input select:focus {
  border: 2px solid var(--color_yellow);
  background-color: #ffffff;
}

.input select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.order__btn {
  color: #0e338b;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color_yellow);
  width: 180px;
  height: 43px;
  margin-right: auto;
  margin-left: auto;
  transition: var(--trans);
  position: relative;
  border: none;
  border-radius: 4px;
}
.order__btn:hover {
  background-color: rgba(255, 217, 3, 0.6784313725);
}

.sect2 .grid2 {
  display: grid;
  grid-template-columns: 400px 1fr;
  width: 100%;
}
.sect2 .order__btn {
  margin-left: 0px;
  margin-top: 30px;
  background-color: var(--color_blue);
  color: #ffda03;
}
.sect2 .order__btn:hover {
  background-color: rgba(17, 75, 137, 0.7607843137);
}
.sect2 .left {
  background-color: var(--color_yellow);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  width: 100%;
  max-width: 400px;
}
.sect2 .left .logo {
  max-width: 110px;
  margin-bottom: 30px;
}
.sect2 .left h2 {
  color: var(--color_dark);
  font-size: 50px;
  font-weight: 700;
}
.sect2 .right {
  width: 100%;
}
.sect2 .colomn {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  gap: 15px;
}
.sect2 .colomn li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.sect2 .colomn img {
  width: 24px;
}
.sect2 .colomn p {
  color: var(--color_blue);
  font-size: 20px;
  font-weight: 500;
  transition: var(--trans);
  cursor: default;
}
.sect2 .colomn p:hover {
  color: var(--color_dark);
}

#splide img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

#splide .splide__track {
  overflow: hidden;
}

.service__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.service__item {
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
  pointer-events: none;
  transition: background-color 1s ease;
}

.service__item_img:hover {
  transform: scale(1.05);
}

.service__item:hover::before {
  background: rgba(0, 0, 0, 0.4);
}

.service__item_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1.5s ease-in-out;
  display: block;
}

.service__item:hover .service__item_img {
  transform: scale(1.1);
}

.hero__card_info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: baseline;
  text-align: left;
  flex-direction: column;
  z-index: 2;
  transition: var(--trans);
  width: 100%;
  padding: 40px;
}

.hero__card_info h4 {
  margin: 0;
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  transition: color 0.3s ease;
  text-transform: uppercase;
  text-align: left;
}

.hero__card_info p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s ease;
  text-align: left;
  margin-top: 20px;
}

.service__item:hover .hero__card_info h4 {
  color: var(--color_yellow);
}

.sect3 .order__btn {
  margin-left: 0px;
  margin-top: 30px;
  background-color: var(--color_blue);
  color: #ffda03;
}
.sect3 .order__btn:hover {
  background-color: rgba(17, 75, 137, 0.7803921569);
}
.sect3 .grid2 {
  display: grid;
  grid-template-columns: 1fr 400px;
  width: 100%;
}
.sect3 .left {
  background-color: var(--color_yellow);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  width: 100%;
  max-width: 400px;
}
.sect3 .left .logo {
  max-width: 110px;
  margin-bottom: 30px;
}
.sect3 .left h2 {
  color: var(--color_dark);
  font-size: 50px;
  font-weight: 700;
}
.sect3 .colomn {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  gap: 15px;
}
.sect3 .colomn li {
  display: flex;
  align-items: center;
  gap: 5px;
}
.sect3 .colomn img {
  width: 24px;
}
.sect3 .colomn p {
  color: var(--color_blue);
  font-size: 20px;
  font-weight: 500;
  transition: var(--trans);
  cursor: default;
}
.sect3 .colomn p:hover {
  color: var(--color_dark);
}

.service__item a {
  pointer-events: none;
  user-select: none;
}

@media (max-width: 1921px) {
  .hero__card_info p {
    font-size: 16px;
  }
  .hero__card_info h4 {
    font-size: 25px;
  }
  .sect2 .grid2 {
    grid-template-columns: 350px 1fr;
  }
  .sect3 .grid2 {
    grid-template-columns: 1fr 350px;
    height: 700px;
  }
}
.sect4 {
  background-color: var(--color_dark);
  padding-block: 50px;
}
.sect4 .order__btn {
  background-color: var(--color_blue);
  color: var(--color_yellow);
  padding-right: 30px;
  padding-left: 30px;
}
.sect4 .order__btn::before {
  border-top: 4px solid var(--color_yellow);
  border-left: 4px solid var(--color_yellow);
}
.sect4 .order__btn::after {
  border-bottom: 4px solid var(--color_yellow);
  border-right: 4px solid var(--color_yellow);
}
.sect4 h2 {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
.sect4 p {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}
.sect4 .grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.sect4 li {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 400px;
}
.sect4 li::before {
  content: "01";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.1215686275);
  font-size: 300px;
  font-weight: bold;
  text-align: center;
  line-height: 400px;
  z-index: 0;
}
.sect4 li:nth-child(1)::before {
  content: "01";
}
.sect4 li:nth-child(2)::before {
  content: "02";
}
.sect4 li:nth-child(3)::before {
  content: "03";
}
.sect4 h3 {
  color: #ffffff;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}
.sect4 h5 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.sect5 {
  background-color: var(--color_blue);
}
.sect5 .right {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  padding-right: 15px;
  background-color: var(--color_blue);
  padding-bottom: 30px;
}
.sect5 .right h2 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 15px;
}
.sect5 .right img {
  width: 90px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}
.sect5 .right h3 {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}
.sect5 .right form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  width: 100%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
.sect5 .right form button {
  width: 100%;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 15px;
}
.sect5 .right p {
  color: rgba(255, 255, 255, 0.5803921569);
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
.sect5 .right .input {
  display: flex;
  flex-direction: column;
}
.sect5 .right .input label {
  color: rgba(255, 255, 255, 0.7607843137);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.sect5 .right .input input,
.sect5 .right .input select {
  padding: 8px 10px;
  border-radius: 4px;
  border: 2px solid transparent;
  outline: none;
  color: var(--color_dark);
  font-size: 20px;
  font-weight: 400;
  transition: var(--trans);
  background-color: rgba(255, 255, 255, 0.862745098);
}
.sect5 .right .input input:focus,
.sect5 .right .input select:focus {
  border: 2px solid var(--color_yellow);
  background-color: #ffffff;
}

.sect6 {
  position: relative;
  padding-block: 50px;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sect6::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  background-color: rgba(8, 49, 92, 0.8235294118);
}
.sect6 h4 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}
.sect6 h2 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}
.sect6 .splide {
  height: 300px;
  position: relative;
  z-index: 2;
}
.sect6 .splide__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  padding: 30px;
}
.sect6 .splide__slide p {
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}
.sect6 .splide__slide h3 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}
.sect6 .splide__pagination__page.is-active {
  opacity: 1;
  background-color: var(--color_yellow);
}
.sect6 .splide__pagination__page {
  background-color: var(--color_yellow);
  opacity: 0.5;
}

.stars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}

.sect7 {
  padding-block: 50px;
  background-color: var(--color_dark);
}
.sect7 h2 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 15px;
}
.sect7 h4 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-bottom: 30px;
}
.sect7 .grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-top: 100px;
}
.sect7 .grid2 li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.sect7 .grid2 h1 {
  color: var(--color_yellow);
  border: 4px solid var(--color_yellow);
  border-radius: 50%;
  padding: 2px 20px;
  font-size: 60px;
  margin-bottom: 20px;
}
.sect7 .grid2 h3 {
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}
.sect7 .grid2 p {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}

.chat {
  position: fixed;
  bottom: 70px;
  right: 70px;
  z-index: 9999;
  display: flex;
  align-items: center;
  gap: 5px;
}
.chat .text {
  padding: 5px;
  border-radius: 5px;
  background-color: #ebebeb;
  width: 100%;
  max-width: 150px;
}
.chat .text p {
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
}
.chat a {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  transition: var(--trans);
  background-color: rgb(45, 183, 66);
}
.chat a svg {
  width: 35px;
  height: 35px;
}
.chat a:hover {
  background-color: rgba(45, 183, 66, 0.774);
}

.sect8 {
  padding-block: 50px;
}
.sect8 .grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sect8 .grid2 h3 {
  color: #676767;
  font-size: 24px;
}
.sect8 .grid2 p {
  color: #676767;
  font-size: 16px;
  margin-top: 10px;
  font-weight: 300;
}
.sect8 .grid2 a {
  color: #676767;
  font-size: 16px;
  font-weight: 700;
}
.sect8 .right p {
  line-height: 30px;
}

footer {
  padding-block: 30px;
  background-color: rgb(223, 223, 223);
}
footer .grid2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .grid2 p {
  color: #676767;
  font-size: 16px;
}

@media (max-width: 1400px) {
  .service__list {
    grid-template-columns: 1fr 1fr;
  }
  .sect3 .grid2 {
    height: auto;
  }
}
@media (max-width: 1200px) {
  .hero_img {
    display: none;
  }
  .grid_main {
    grid-template-columns: 1fr 350px;
  }
  .sect2 .left {
    padding: 20px;
  }
  .sect2 .grid2 {
    grid-template-columns: 300px 1fr;
  }
  .sect3 .left {
    padding: 20px;
  }
  .sect3 .grid2 {
    grid-template-columns: 1fr 300px;
  }
}
@media (max-width: 1050px) {
  .sect4 li::before {
    font-size: 250px;
  }
  .service__item {
    height: 300px;
  }
}
@media (max-width: 950px) {
  .sect3 .grid2 {
    display: flex;
    flex-direction: column-reverse;
  }
  .sect2 .left {
    max-width: 100%;
  }
  .sect3 .left {
    max-width: 100%;
  }
  .sect2 .grid2 {
    grid-template-columns: 1fr;
  }
  .sect4 .grid3 {
    grid-template-columns: 1fr;
  }
  .sect4 h5 {
    width: 100%;
    max-width: 700px;
  }
  .sect4 li {
    height: 300px;
  }
  .sect4 li::before {
    line-height: 300px;
  }
  .sect4 .grid3 {
    gap: 0px;
  }
  .grid_main {
    grid-template-columns: 1fr;
  }
  .sect1 {
    padding-bottom: 30px;
  }
  .sect6 .splide__slide {
    height: 100%;
  }
  .sect6 .splide {
    height: fit-content;
  }
}
@media (max-width: 700px) {
  .sect7 .grid2 {
    grid-template-columns: 1fr;
  }
  .sect8 .grid2 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .service__list {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 550px) {
  .grid_main .grid2 {
    grid-template-columns: 1fr;
  }
  .grid_main .left {
    padding-left: 0px;
    padding-right: 0px;
  }
  .chat {
    right: 12px;
  }
  .grid_main .left h2 {
    font-size: 40px;
  }
  .grid_main .left h3,
  .sect4 p {
    font-size: 22px;
  }
  .sect2 .left h2,
  .sect3 .left h2,
  .sect4 h2,
  .sect5 .right h2,
  .sect6 h2,
  .sect7 h2 {
    font-size: 40px;
  }
  .sect6 .splide__slide p {
    font-size: 18px;
  }
  .sect6 .splide__slide h3 {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */