* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  list-style: none;
}
:root {
  --trans: all 0.35s ease-in-out;
  --color_dark: #08315c;
  --color_blue: #114b89;
  --color_yellow: #ffda03;
}
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 50px;
}
section {
  scroll-margin-top: 94px;
}
@media (max-width: 1050px) {
  .container {
    padding: 0 15px;
  }
}
// @media (max-width: 1750px) {
//   body {
//     zoom: 1;
//   }
// }
// @media (max-width: 1400px) {
//   body {
//     zoom: 0.8;
//   }
// }
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
}

img {
  width: 100%;
  display: block;
}
// header-----------------------------------------------------------------------------
header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  backdrop-filter: blur(10px);
  z-index: 100;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 15px;
  position: relative;
}
.h__left {
  display: flex;
  align-items: center;
  z-index: 99999;
}
.nav__header {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.header__link {
  color: var(--color_dark);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: var(--trans);
  position: relative;
  &:hover {
    color: var(--color_yellow);
  }
}
.header__link:not(.no_active)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background-color: var(--color_yellow);
  transition: width 0.35s;
}
.header__link:not(.no_active):hover:before {
  width: 100%;
}
.h__right {
  display: flex;
  align-items: center;
  gap: 15px;
  a {
    display: flex;
    align-items: center;
  }
}
.flag {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: fit-content;
  img {
    width: 24px;
  }
}
.tel {
  font-size: 18px;
}
.wup svg,
.inst svg {
  width: 30px;
  height: 30px;
  transition: var(--trans);
  &:hover {
    fill: var(--color_yellow) !important;
  }
}

.burger {
  display: none;
}
.burger__icon {
  width: 30px;
  height: 26px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 99999;
  position: relative;
}

.burger__icon div {
  width: 100%;
  height: 3px;
  background-color: #1c1c1c;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.burger__menu {
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #efedf4;
  padding: 15px;
  padding-left: 40px;
  box-sizing: border-box;
  transition: right 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
  transition: var(--trans);
  max-height: 100%;
  .btn {
    position: absolute;
    bottom: 15px;
    left: 15px;
    width: 95%;
  }
}
.burger__menu.active {
  right: 0;
  opacity: 1;
  visibility: visible;
}
.burger__menu .header__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  padding-top: 80px;
  width: 100%;
}
.burger__menu .header__item {
  width: 100%;
  text-align: start;
}
.burger__menu .header__link {
  color: #1c1c1c;
  font-family: Barlow;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__dropdown_menu_burger .header__link {
  font-size: 24px;
}
.burger__icon.active .line1 {
  transform: rotate(-45deg) translate(-7px, 5px);
  background-color: #1c1c1c;
}

.burger__icon.active .line2 {
  opacity: 0;
}

.burger__icon.active .line3 {
  transform: rotate(45deg) translate(-11px, -9px);
  background-color: #1c1c1c;
}
.burger__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 90px !important;

  li a {
    color: #fff;
    font-family: "Poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.burger {
  display: none;
}
@media (max-width: 1300px) {
  .h__center {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger__menu.active {
    display: block;
  }
  .burger__icon {
    display: flex;
  }
  .h__right {
    display: none;
  }
}

// sect1
.sect1 {
  background-color: var(--color_dark);
  padding-top: 94px;
}
.hero_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid_main {
  display: grid;
  grid-template-columns: 250px 1fr 350px;
  .left {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 60px 40px 40px;
    h3 {
      color: #ffffff;
      font-size: 25px;
      font-weight: 400;
    }
    h2 {
      color: #ffffff;
      font-size: 50px;
      font-weight: 700;
    }
  }
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    li {
      display: flex;
      align-items: center;
      gap: 8px;
      img {
        width: 24px;
      }
      p {
        color: #ffffff;
        font-size: 18px;
        font-weight: 400;
        transition: var(--trans);
        cursor: default;
        &:hover {
          color: var(--color_yellow);
        }
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    background-color: var(--color_blue);
    padding-bottom: 30px;
    img {
      width: 90px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 40px;
    }
    h3 {
      color: #ffffff;
      font-size: 22px;
      font-weight: 400;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 30px;
      button {
        width: 100%;
        cursor: pointer;
        margin-bottom: 15px;
        margin-top: 5px;
      }
    }
    p {
      color: #ffffff94;
      font-size: 14px;
      font-weight: 400;
    }
    .input {
      display: flex;
      flex-direction: column;
      label {
        color: #ffffffc2;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;
      }
      input,
      select {
        padding: 8px 10px;
        border-radius: 4px;
        border: 2px solid transparent;
        outline: none;
        color: var(--color_dark);
        font-size: 20px;
        font-weight: 400;
        transition: var(--trans);
        background-color: #ffffffdc;
        &:focus {
          border: 2px solid var(--color_yellow);
          background-color: #ffffff;
        }
      }
    }
  }
}
.input select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
// btn
.order__btn {
  color: #0e338b;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color_yellow);
  width: 180px;
  height: 43px;
  margin-right: auto;
  margin-left: auto;
  transition: var(--trans);
  position: relative;
  border: none;
  border-radius: 4px;
  &:hover {
    background-color: #ffd903ad;
  }
}

.sect2 {
  .grid2 {
    display: grid;
    grid-template-columns: 400px 1fr;
    width: 100%;
  }
  .order__btn {
    margin-left: 0px;
    margin-top: 30px;
    background-color: var(--color_blue);
    color: #ffda03;
    &:hover {
      background-color: #114b89c2;
    }
  }
  .left {
    background-color: var(--color_yellow);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    .logo {
      max-width: 110px;
      margin-bottom: 30px;
    }

    h2 {
      color: var(--color_dark);
      font-size: 50px;
      font-weight: 700;
    }
  }
  .right {
    width: 100%;
  }
  .colomn {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 15px;
    li {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    img {
      width: 24px;
    }
    p {
      color: var(--color_blue);
      font-size: 20px;
      font-weight: 500;
      transition: var(--trans);
      cursor: default;
      &:hover {
        color: var(--color_dark);
      }
    }
  }
}
#splide img {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

#splide .splide__track {
  overflow: hidden;
}
.service__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.service__item {
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
  pointer-events: none;
  transition: background-color 1s ease;
}

.service__item_img:hover {
  transform: scale(1.05);
}

.service__item:hover::before {
  background: rgba(0, 0, 0, 0.4);
}

.service__item_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1.5s ease-in-out;
  display: block;
}

.service__item:hover .service__item_img {
  transform: scale(1.1);
}

.hero__card_info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: baseline;
  text-align: left;
  flex-direction: column;
  z-index: 2;
  transition: var(--trans);
  width: 100%;
  padding: 40px;
}

.hero__card_info h4 {
  margin: 0;
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  transition: color 0.3s ease;
  text-transform: uppercase;
  text-align: left;
}
.hero__card_info p {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.3s ease;
  text-align: left;
  margin-top: 20px;
}

.service__item:hover .hero__card_info h4 {
  color: var(--color_yellow);
}
.sect3 {
  .order__btn {
    margin-left: 0px;
    margin-top: 30px;
    background-color: var(--color_blue);
    color: #ffda03;
    &:hover {
      background-color: #114b89c7;
    }
  }
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 400px;
    width: 100%;
  }
  .left {
    background-color: var(--color_yellow);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    width: 100%;
    max-width: 400px;
    .logo {
      max-width: 110px;
      margin-bottom: 30px;
    }

    h2 {
      color: var(--color_dark);
      font-size: 50px;
      font-weight: 700;
    }
  }

  .colomn {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    gap: 15px;
    li {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    img {
      width: 24px;
    }
    p {
      color: var(--color_blue);
      font-size: 20px;
      font-weight: 500;
      transition: var(--trans);
      cursor: default;
      &:hover {
        color: var(--color_dark);
      }
    }
  }
}
.service__item a {
  pointer-events: none;
  user-select: none;
}
@media (max-width: 1921px) {
  .hero__card_info p {
    font-size: 16px;
  }
  .hero__card_info h4 {
    font-size: 25px;
  }
  .sect2 .grid2 {
    grid-template-columns: 350px 1fr;
  }
  .sect3 .grid2 {
    grid-template-columns: 1fr 350px;
    height: 700px;
  }
}
.sect4 {
  background-color: var(--color_dark);
  padding-block: 50px;
  .order__btn {
    background-color: var(--color_blue);
    color: var(--color_yellow);
    padding-right: 30px;
    padding-left: 30px;
  }
  .order__btn::before {
    border-top: 4px solid var(--color_yellow);
    border-left: 4px solid var(--color_yellow);
  }

  .order__btn::after {
    border-bottom: 4px solid var(--color_yellow);
    border-right: 4px solid var(--color_yellow);
  }
  h2 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
  }
  p {
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }
  .grid3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  li {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 400px;
  }
  li::before {
    content: "01";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ffffff1f;
    font-size: 300px;
    font-weight: bold;
    text-align: center;
    line-height: 400px;
    z-index: 0;
  }
  li:nth-child(1)::before {
    content: "01";
  }

  li:nth-child(2)::before {
    content: "02";
  }

  li:nth-child(3)::before {
    content: "03";
  }
  h3 {
    color: #ffffff;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
  }
  h5 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
}
.sect5 {
  background-color: var(--color_blue);
  .right {
    h2 {
      text-align: center;
      color: #ffffff;
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 15px;
    }
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    background-color: var(--color_blue);
    padding-bottom: 30px;
    img {
      width: 90px;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 40px;
    }
    h3 {
      color: #ffffff;
      font-size: 22px;
      font-weight: 400;
      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 30px;
      width: 100%;
      max-width: 600px;
      margin-right: auto;
      margin-left: auto;
      button {
        width: 100%;
        cursor: pointer;
        margin-bottom: 15px;
        margin-top: 15px;
      }
    }
    p {
      color: #ffffff94;
      font-size: 14px;
      font-weight: 400;
      width: 100%;
      max-width: 600px;
      margin-right: auto;
      margin-left: auto;
    }
    .input {
      display: flex;
      flex-direction: column;
      label {
        color: #ffffffc2;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;
      }
      input,
      select {
        padding: 8px 10px;
        border-radius: 4px;
        border: 2px solid transparent;
        outline: none;
        color: var(--color_dark);
        font-size: 20px;
        font-weight: 400;
        transition: var(--trans);
        background-color: #ffffffdc;
        &:focus {
          border: 2px solid var(--color_yellow);
          background-color: #ffffff;
        }
      }
    }
  }
}
.sect6 {
  position: relative;
  padding-block: 50px;
  background-image: url(../img/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 1;
    background-color: #08315cd2;
  }
  h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
  }
  h2 {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
    position: relative;
    z-index: 2;
  }
  .splide {
    height: 300px;
    position: relative;
    z-index: 2;
  }
  .splide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 300px;
    padding: 30px;
    p {
      color: #ffffff;
      font-size: 25px;
      font-weight: 400;
      text-align: center;
    }
    h3 {
      color: #ffffff;
      font-size: 30px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .splide__pagination__page.is-active {
    opacity: 1;
    background-color: var(--color_yellow);
  }
  .splide__pagination__page {
    background-color: var(--color_yellow);
    opacity: 0.5;
  }
}
.stars {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 20px;
}
.sect7 {
  padding-block: 50px;
  background-color: var(--color_dark);
  h2 {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-bottom: 30px;
  }
  .grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin-top: 100px;
    li {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }
    h1 {
      color: var(--color_yellow);
      border: 4px solid var(--color_yellow);
      border-radius: 50%;
      padding: 2px 20px;
      font-size: 60px;
      margin-bottom: 20px;
    }
    h3 {
      color: #ffffff;
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    p {
      color: #ffffff;
      font-size: 22px;
      font-weight: 400;
      margin-bottom: 20px;
      width: 100%;
      max-width: 400px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
.chat {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9999;
  display: flex;
  align-items: center;
  gap: 5px;
  .text {
    padding: 5px;
    border-radius: 5px;
    background-color: #f8f8f8;
    width: 100%;
    max-width: 150px;
    p {
      font-size: 14px;
      font-weight: 300;
      line-height: 150%;
    }
  }
  a {
    svg {
      width: 35px;
      height: 35px;
    }
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    transition: var(--trans);
    background-color: rgb(45, 183, 66);
    &:hover {
      background-color: rgba(45, 183, 66, 0.774);
    }
  }
}
